<% provide :title, t(".borrowing_books") %>
<div style="margin-top: 50px; min-height: 450px">
<h1 style="text-align: center;"><%= t ".borrowing_books" %></h1>

<table class="table" >
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="text-align: center;"><%= t ".index" %></th>
      <th scope="col"style="max-width: 300px"> <%= t ".name_of_book" %> </th>
      <th scope="col"><%= t ".borrowed_date" %></th>
      <th scope="col"><%= t ".expiration_date" %></th>
      <th scope="col"><%= t ".status" %></th>
    </tr>
  </thead>

  <tbody>
    <ul class="pagination">
      <%= will_paginate @borrowing_books, previous_label: "&#8592;", next_label: "&#8594;" %>
    </ul>

    <% @borrowing_books.each_with_index do |e, index| %>
      <tr>
          <th style="text-align: center;"><%= index + 1 %></th>
          <th scope="row"><%= e.book_title %></th>
          <td><%= l e.borrowed_date, format: :long %></td>
          <td><%= l e.expiration_date, format: :long %></td>
          <td><%= e.status_i18n %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
