<div class="container" style="padding: auto; margin-top: 130px; margin-bottom: 90px ">
  <div class="row">
    <div class="col-md-4">
      <img src= <%= @book.image %> alt="" style="width: 255px ; margin-left: 40px">
      <h2><%= @book.title %></h2>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <%= form_for([:user, @borrowing_book]) do |f| %>
      <%= render "layouts/error_messages", object: f.object%>
      <%= f.label :borrowed_date %> (mm/dd/yyyy)
      <%= f.date_field :borrowed_date, value: Date.today, readonly: true, class: "form-control" %>
      <div style="margin-top: 5px; margin-bottom:  "><%= t ".note" %></div>
      <%= f.hidden_field :book_id, value: @book.id %>
      <%= f.label :expiration_date %> (mm/dd/yyyy)
      <%= f.date_field :expiration_date, class: "form-control", style: "margin-bottom: 10px" %>
      <%= f.submit t(".borrow"), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
