
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="sticky; z-index: 1000; top: 0 ;position: fixed; width: 100%">

  <b class="navbar-brand" href="#"><%= t(".library") %></b>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">

    <%= link_to t(".home") , root_path , class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t(".books") , static_pages_list_books_path , class: "nav-link" %>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

    <%= t(".categories") %>
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</li>

<li class="nav-item">
  <li class="nav-link"><%= link_to t(".en"), locale: :en %></li>
  <li class="nav-link"><%= link_to t(".vi"), locale: :vi %></li>
</li>
</ul>

<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search"
  placeholder= <%= t(".search") %>  aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0"
  type="submit"> <%= t(".search") %> </button>
</form>

<ul  class="navbar-nav my-2 my-lg-0 " style="margin-left: 30px">
  <% if logged_in? %>
  <li class="nav-item" style="margin-right: 5px">
    <%= link_to t(".borrowing_book"), user_borrowing_books_path(@current_user.id),
    class: "nav-link  btn btn-info" %>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle btn btn-success" href="#" id="navbarDropdown"
    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

    <%= @current_user.name  %>
  </a>
  <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="#"><%= t(".profile") %></a>
    <a class="dropdown-item" href="#"><%= t(".setting") %></a>
    <div class="dropdown-divider"></div>
    <%= link_to t(".log_out"), sessions_logout_path, method: :delete, class:"dropdown-item"%></a>
  </div>
</li>

<% else %>
<li class="nav-item">
  <%= link_to t(".login") , sessions_login_path , class: "nav-link btn btn-success", style: "width: 110px ; color: white" %>
</li>

<li class="nav-item">
  <%= link_to t(".sign_up") , sessions_sign_up_path , class: "nav-link btn btn-danger", style: "margin-left: 5px; width: 110px; color: white" %>
</a>
</li>
<% end %>

</ul>
</div>
</nav>
